.popup-change-password{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner-change-password{
    position: relative;
    padding: 32px;
    width: 100%;
    max-width: 400px;
    min-height: 100px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.popup-change-password-label-assign{
    margin-right: 58px;
}

.popup-button-change-password-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin: 20px 10px 0px 10px;
}

.popup-button-change-password-item{
    padding: 5px;
    background-color: #ff5005;
    color: white;
    width: 100px;
    border-radius: 20px;
}

.popup-change-password-input{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    margin: 10px 0px 10px 0px;
    padding: 0px 30px;
}

.change-password-error{
    margin: 5px 0px;
}