.search-box{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}


.search-input{
    width: 900px;
    height: 40px;
    border-radius: 20px;
    
}

.search-button{
    width: 120px;
    height: 40px;
    padding: 5px;
    background-color: #ff5005;
    color: white;
    border-radius: 20px;
}

.search-error{
    margin: 10px 0px;
}