.nav-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #001DB4;
    padding: 10px 50px;
}

.logo-link-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.button-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}